/* Resetando tudo */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}
body {
  background: linear-gradient(to bottom, white, rgb(64, 146, 239));
  background-attachment: fixed;
}


main {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
.menu-tittle {
  font-weight: 500;
}


/* CONTAINER */
.container-voto {
  background: #fff;
  position: relative;
  width: 500px;
  padding: 28px 32px;
  border-radius: 18px;
  font-family: "Roboto", sans-serif;
  box-shadow: #00000086 0 5px 15px;
}

/* FORM DE VOTAÇÃO*/
.container-voto form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.container-voto label {
  display: flex;
  cursor: pointer;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  margin-bottom: 0.375em;
}
.container-voto label input {
  position: absolute;
  left: -9999px;
}
.container-voto label input:checked + span {
  background-color: #414181;
  color: white;
}
.container-voto label input:checked + span:before {
  box-shadow: inset 0 0 0 0.4375em #00005c;
}
.container-voto label span {
  display: flex;
  align-items: center;
  padding: 0.375em 0.75em 0.375em 0.375em;
  border-radius: 99em;
  transition: 0.25s ease;
  color: #414181;
}
.container-voto label span:hover {
  background-color: #d6d6e5;
}
.container-voto label span:before {
  display: flex;
  flex-shrink: 0;
  content: "";
  background-color: #fff;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  margin-right: 0.375em;
  transition: 0.25s ease;
  box-shadow: inset 0 0 0 0.125em #00005c;
}

/* BOTÃO ENVIAR */
button.enviar {
    font-family: inherit;
    font-size: 20px;
    background: royalblue;
    color: white;
    margin-top: 22px;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
    border: none;
  }
  button.enviar span {
    display: block;
    margin-left: 1em;
    transition: all 0.3s ease-in-out;
    animation: fly-2 0.6s; 
  }
  button.enviar svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
    animation: fly-3 0.6s;
    animation: fly-4 0.6s;
  }
  button.enviar:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
  }
  button.enviar:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
  }
  button.enviar:hover span {
    transform: translateX(20rem);
  }
  button.enviar:active {
    transform: scale(0.95);
  }
  @keyframes fly-1 {
    from {
      transform: translateY(0.1em);
    }
  
    to {
      transform: translateY(-0.1em);
    }
  }
  @keyframes fly-2 {
    from {
      transform: translateX(20rem);
    }
  
    to {
      transform: translateX();
    }
  }
  @keyframes fly-3 {
    from {
      transform: translateY(-0.1em);
    }
  
    to {
      transform: translateY(0.1em);
    }
  }
  @keyframes fly-4 {
    from {
      transform: translateX(1.2em) rotate(45deg) scale(1.1);
    }
  
    to {
      transform: translateX();
    }
  }



/* PDF */
.pdfBtn {
  cursor: pointer;
  margin-left: auto;
  background: #fff;
}
.pdfBtn:hover .pdfImg {
  content: url("../static/assets/pdf-blue-hover.png");
}


iframe {
  width: 90%;
  height: 80vh;
  margin-left: auto;
  margin-right: auto;
}


@media (max-width: 768px) {
    .container-voto {
      margin-bottom: 3rem;
    }
}