<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Votação</title>
</head>
<body>
    <form action="/voto" method="post">
        <input type="radio" name="option" value="0">
        <label>O Mundo Sombrio de Sabrina</label><br>
        <input type="radio" name="option" value="1">
        <label>O Mundo dos Animais</label><br>
        <input type="radio" name="option" value="2">
        <label>Hidrate seu pet</label><br>
        <input type="radio" name="option" value="3">
        <label>Animais em Extinção</label><br>
        <input type="radio" name="option" value="4">
        <label>Espécie de Peixe</label><br>
        <input type="radio" name="option" value="5">
        <label>Gato Minhoso</label><br>
        <input type="radio" name="option" value="6">
        <label>DivertidaMentes de uma Bailarina</label><br>
        <input type="radio" name="option" value="7">
        <label>Espécies de Gatos</label><br>
        <input type="radio" name="option" value="8">
        <label>Previsão é de céu predominante parcialmente nublado e claro no Litoral Leste, no Agreste e no Vale do Assú</label><br>
        <input type="radio" name="option" value="9">
        <label>Lingua Brasileira de Sinais (Libras)</label><br>
        <input type="radio" name="option" value="10">
        <label>Lei aprovada em SP garante avaliação individualizada para alunos autistas e outros transtornos de desenvolvimento</label><br>
        <input type="radio" name="option" value="11">
        <label>'Gravidez silenciosa': entenda em 3 pontos como mulheres só descobrem que serão mães na hora do parto</label><br>
        <input type="radio" name="option" value="12">
        <label>O Pequeno Príncipe</label><br>
        <input type="radio" name="option" value="13">
        <label>Porque você deveria adotar um animal abandonado ao invés de comprar um de raça</label><br>
        <br>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>