<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='resultado.css') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='img.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="temp2.css" />
    <script>
      setInterval(function() {
          location.reload();
      }, 10000);
    </script>
    <title>Resultado</title>
  </head>
  <main>
    <body>
      <div class="container">
        {% for key, value in votes.items() %}
          <p>{{ key }}: {{ (value / count * 100)|round(2)}}%</p>
        {% endfor %}
      </div>
    </body>
  </main>
</html>
