<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados</title>
</head>
<body>
    <p>O Mundo Sombrio de Sabrina : {{ votes[0] }}</p>
    <p>O Mundo dos Animais : {{ votes[1] }}</p>
    <p>Hidrate seu pet : {{ votes[2] }}</p>
    <p>Animais em Extinção : {{ votes[3] }}</p>
    <p>Espécie de Peixe : {{ votes[4] }}</p>
    <p>Gato Minhoso : {{ votes[5] }}</p>
    <p>DivertidaMentes de uma Bailarina : {{ votes[6] }}</p>
    <p>Espécies de Gatos : {{ votes[7] }}</p>
    <p>Previsão é de céu predominante parcialmente nublado e claro no Litoral Leste, no Agreste e no Vale do Assú : {{ votes[8] }}</p>
    <p>Lingua Brasileira de Sinais (Libras) : {{ votes[9] }}</p>
    <p>Lei aprovada em SP garante avaliação individualizada para alunos autistas e outros transtornos de desenvolvimento : {{ votes[10] }}</p>
    <p>'Gravidez silenciosa': entenda em 3 pontos como mulheres só descobrem que serão mães na hora do parto : {{ votes[11] }}</p>
    <p>O Pequeno Príncipe : {{ votes[12] }}</p>
    <p>Porque você deveria adotar um animal abandonado ao invés de comprar um de raça : {{ votes[13] }}</p>
</body>
</html>